[Unit]
Description=Save apt-mark showmanual

[Service]
ExecStart=/usr/bin/env bash -c "sqlite3 ~/.local/share/active_window/active_window.db \"INSERT INTO datapoint(workspace, ssid, timestamp, idletime, windowname) VALUES ('$(cat < ~/.cache/ws/$(wmctrl -d | awk '/\*/{print $NF}'))', '$(iwgetid -r)', datetime('now'), '$(xprintidle)', '$(xdotool getwindowfocus getwindowname)');\""
