[Unit]
Description=Save apt-mark showmanual

[Service]
Type=simple
ExecStart=/usr/bin/env bash -c "apt-mark showmanual > .config/install/aptmanual.lst"
