[Unit]
Description=Automatic ticket retrieval from TUB kerberos server

[Timer]
Persistent=true
OnBootSec=5min
#OnUnitActiveSec=1day
OnCalendar=0/7:0


[Install]
WantedBy=timers.target
