[Unit]
Description=Automatic .tex Compilation
After=home.mount
Requires=home.mount

[Service]
Type=simple
WorkingDirectory=%h/Dropbox
ExecStart=/bin/bash -ic "autotex"


[Install]
WantedBy=multi-user.target
