[Unit]
Description=Password Manager
PartOf=graphical.target

[Service]
ExecStart=/usr/bin/env zsh -c "path+=(~/.local/bin); exec bitwarden"

[Install]
WantedBy=graphical.target
