[Unit]
Description=Compress all chrome configs every day

[Service]
Type=simple
ExecStart=/bin/sh -c "tar czf ~/Documents/chrome-config-dirs.tar.gz ~/.config/google-chrome.d"
