[Unit]
Description=Git Backup for Ignored files

[Timer]
Persistent=true
#OnUnitActiveSec=1day
OnCalendar=00:00:00


[Install]
WantedBy=timers.target


