[Unit]
Description=Touchpad Gestures
PartOf=graphical.target

[Service]
ExecStart=/usr/bin/env libinput-gestures

[Install]
WantedBy=graphical.target
