[Unit]
Description=Rclone mount for %i

[Service]
Type=notify
KillMode=control-group
ExecStart=/usr/bin/zsh -c "source %E/rclone/mount.sh %i; start"
ExecStop=/usr/bin/zsh -c "source %E/rclone/mount.sh %i; stop"
ExecReload=/usr/bin/zsh -c "source %E/rclone/mount.sh %i; reload"
Restart=on-failure

[Install]
WantedBy=default.target

