[Unit]
Description=Redshift Screen Dimmer
PartOf=graphical.target

[Service]
ExecStart=/usr/bin/env redshift-gtk

[Install]
WantedBy=graphical.target
