[Unit]
Description=Simple X Hotkey Daemon
Documentation=man:sxhkd(1)
After=default.target

[Service]
ExecStart=/usr/bin/env sxhkd
ExecReload=/bin/sh -c "pkill -USR1 -u $USER -o sxhkd"

[Install]
WantedBy=default.target
