[Unit]
Description=Rclone tubCloud Mount Service

[Service]
Type=notify
KillMode=none
ExecStart=/usr/bin/rclone mount tubCloud: %h/tubCloud \
    --use-mmap --dir-cache-time 1000h --fs-cache-expire-duration 72h \
    --vfs-cache-mode full --tpslimit 10 \
    --buffer-size 16M --vfs-read-chunk-size 100M
ExecStop=/bin/fusermount -uz %h/tubCloud
ExecReload=/bin/sh -c "pkill -HUP -u $USER -fo 'rclone mount tubCloud:'"
Restart=on-failure

[Install]
WantedBy=default.target

