[Unit]
Description=Start x11vnc at startup.
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -auth guess -forever -noxdamage -repeat -rfbauth .vnc/passwd -rfbport 5900 -shared

[Install]
WantedBy=graphical.target
