[Unit]
Description=Start x11vnc at startup.

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -auth guess -forever -noxdamage -repeat -rfbauth .vnc/passwd -rfbport 5900 -shared -ncache 10 -ncache_cr

[Install]
WantedBy=default.target
